@import "tailwindcss";

/* Regular */
@font-face {
  font-family: 'Halyon-BC';
  src: url('/fonts/halyon-bc.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Halyon-BC';
  src: url('/fonts/halyon-bc-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Halyon-BC';
  src: url('/fonts/halyon-bc-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'Halyon-BC';
  src: url('/fonts/halyon-bc-bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: '#171717';
  --accent:#5786d1;
  --accent-2:#6da5e2;
  --lightgray:#f8f8f8;
  --gray: lightslategray;
  --transition:0.3s;
  --shadow: 0 6px 20px rgba(0,0,0,0.08);
  --font: 'Halyon-BC', sans-serif;
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: white;
  color: var(--foreground);
  font-family: var(--font);
}

html, body {
  overflow-x: hidden;
}